@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000F37;
}

h1 {
  color: #ffffff;
  font-family: 'Abril Fatface', cursive;
  font-size: 64pt;
  text-align: center;
}
h2 {
  color: #00AB96;
  font-family: 'Abril Fatface', cursive;
  font-size: 64pt;
  text-align: center;
  margin-top: -30px;
}
h3 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 24pt;
  text-align: center;
  margin-top: -10px;
}